week_09/models/ 
week_09/basiccnn_tuner/
week_09/mobilenet_tuner/
week_09/dataset/HAM10000_images_part_1/
week_09/dataset/HAM10000_images_part_2/
week_09/models2/
week_09/models3/
week_10/models
week_10/datasets
week_10/.ipynb_checkpoints
week_11/venv/
week_11/dataset/
week_11/models/
week_11/notebooks/.ipynb_checkpoints/
week_11/notebooks/models2/
week_11/notebooks/tokenizer.pkl
week_11/processed_data/